<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Important Dates</title>
    <link rel="stylesheet" href="../StyleSheets/dates.css">
</head>
<body>
    <section id="important-dates" class="timeline-section">
    <h2 class="section-title">Important Dates</h2>
    <ul class="timeline">
        <li>
            <div class="timeline-content">
                <span class="date">20th April, 2025</span>
                <p>Registration opening</p>
            </div>
        </li>
        <li>
            <div class="timeline-content">
                <span class="date">30th April, 2025</span>
                <p>Last Date for Registration</p>
            </div>
        </li>
        <li>
            <div class="timeline-content">
                <span class="date">2nd May, 2025</span>
                <p>Last Date for Abstract Submission</p>
            </div>
        </li>
        <li>
            <div class="timeline-content">
                <span class="date">5th May, 2025</span>
                <p>Acceptance intimation</p>
            </div>
        </li>
        <li>
            <div class="timeline-content">
                <span class="date">8th May, 2025</span>
                <p>Submission of full-length papers</p>
            </div>
        </li>
    </ul>
    </section>
</body>
</html>